:root {
    --main_bg: #f7ecdb;
    --main_bg_alpha: rgba(247, 236, 219, 0.92);
    --second_bg_alpha: rgba(115, 250, 255, 0.87);
    --active_color: rgba(255, 0, 0, 0.5);
    --pre_active: rgba(255, 0, 0, 0.1);
    --mainFont: 1.1em sans-serif;
    --buttonsHeight: 3.5em;
}

/* FUNCTIONAL STYLE */

ul li span {
    cursor: pointer;
}

ul li input[type='checkbox'] {
    display: none;
}

ul.multiPistModeEnabled li input[type='checkbox'] {
    display: inline-block;
}

.randomModeActive,
.multiPistModeActive,
ul li span.current {
    background-color: var(--active_color);
}

/* END FUNCTIONAL STYLE */

/* GENERIC STYLE */

@keyframes bgAnimation {
    0% {
    background-size: 85vh;
    }

    36% {
    background-size: 85vh;
    }
    37% {
    background-size: 90vh;
    }
    38% {
    background-size: 85vh;
    }

    39% {
    background-size: 85vh;
    }
    40% {
    background-size: 87.5vh;
    }
    41% {
    background-size: 85vh;
    }

    100% {
    background-size: 85vh;
    }
}

@keyframes greenAnimate {
    0% {
        background-color: rgb(211, 211, 211);
    }
    80% {
        background-color: green;
    }
    100% {
        background-color: rgb(211, 211, 211);
    }
}

body {
    background-color: var(--main_bg);
    background-image: url(../ico/logoAlpha.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 85vh;
    font: var(--mainFont);
    margin: 0;
    animation-name: bgAnimation;
    animation-fill-mode: both;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    .bgfilter {
        position: fixed;
        width: 100vw;
        height: 100vh;
        /* background-color: var(--main_bg_alpha); */
        z-index: -999;
        backdrop-filter: saturate(50%);
    }

    audio {
        width: 100%;
    }

    button.buttonSpecial,
    button.buttonModifList,
    button.buttonModifListOptions {
        padding: 0;
        cursor: pointer;
        img {
            width: var(--buttonsHeight);
            aspect-ratio: 1/1;
        }
    }
    select.buttonModifListOptions {
        height: calc(var(--buttonsHeight) + 0.5em);
        width: calc(var(--buttonsHeight) * 3);
        position: relative;
        bottom: 1.3em;
        cursor: pointer;
        
    }
    button.deleteOneFile {
        padding: 0;
        margin: 0 0 0 1em;
        cursor: pointer;
        display: inline;
        img {
            margin: 0;
            padding: 0;
            width: 1.5em;
            aspect-ratio: 1/1;
        }
        &:hover {
            background-color: var(--pre_active);
        }
    }
}

/* END GENERIC STYLE */

/* SPECIFIC STYLE */

.content>section {
    padding: 0 1em 1em 1em;
    h2 {
        margin: 0 0 .5em 0;
        padding: 0;
        text-transform: uppercase;
        line-height: 70%;
        font-size: xx-large;
        text-shadow: 0px 1px 3px black;
    }
    &:nth-child(even) {
        background-color: var(--main_bg_alpha);
        h2 {
            color: var(--second_bg_alpha);
        }
    }
    &:nth-child(odd) {
        background-color: var(--second_bg_alpha);
        h2 {
            color: var(--main_bg_alpha);
        }
    }
}

.buttonSpecial:not(.randomModeActive):not(.multiPistModeActive):hover,
ul li span:hover:not(.current) {
    background-color: var(--pre_active);
}

#multiPistMode_options,
#listProfile_save,
#listProfile_delete {
    display: none;
    &.display {
        display: block;
    }
    &.displayInlineBlock {
        display: inline-block;
    }
    .greenAnimate {
        animation-name: greenAnimate;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
    }
}


.multiPistMode_options {
    margin-top: 0.3em;
    .buttonModifListOptions:hover {
        background-color: var(--pre_active);
    }
}

.popup_backdrop {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    .popup_window {
        border: 3px solid black;
        padding: calc(var(--buttonsHeight) / 2);
        background-color: white;
    }
}

/* END SPECIFIC STYLE */