:root {
    --main_bg: #f7ecdb;
    --main_bg_alpha: rgba(247, 236, 219, 0.98);
    --second_bg_alpha: rgba(115, 250, 255, 0.85);
    --active_color: rgba(255, 0, 0, 0.5);
    --pre_active: rgba(255, 0, 0, 0.1);
    --mainFont: 1.1em sans-serif;
}

/* FUNCTIONAL STYLE */

ul li span {
    cursor: pointer;
}

ul li input[type='checkbox'] {
    display: none;
}

ul.multiPistModeEnabled li input[type='checkbox'] {
    display: inline-block;
}

.randomModeActive,
.multiPistModeActive,
ul li span.current {
    background-color: var(--active_color);
}

/* END FUNCTIONAL STYLE */

/* GENERIC STYLE */

@keyframes bgAnimation {
    0% {
    background-size: 85vh;
    }

    36% {
    background-size: 85vh;
    }
    37% {
    background-size: 100vh;
    }
    38% {
    background-size: 85vh;
    }

    39% {
    background-size: 85vh;
    }
    40% {
    background-size: 90vh;
    }
    41% {
    background-size: 85vh;
    }

    100% {
    background-size: 85vh;
    }
}

body {
    background-color: var(--main_bg);
    background-image: url(../ico/logoAlpha.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 85vh;
    font: var(--mainFont);
    margin: 0;
    animation-name: bgAnimation;
    animation-fill-mode: both;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    .bgfilter {
        position: fixed;
        width: 100vw;
        height: 100vh;
        /* background-color: var(--main_bg_alpha); */
        z-index: -999;
        backdrop-filter: saturate(50%);
    }

    audio {
        width: 100%;
    }

    button.buttonSpecial,
    button.buttonModifList {
        padding: 0;
        cursor: pointer;
        img {
            width: 3.5em;
            aspect-ratio: 1/1;
        }
    }
    button.deleteOneFile {
        padding: 0;
        margin: 0 0 0 1em;
        cursor: pointer;
        display: inline;
        img {
            margin: 0;
            padding: 0;
            width: 1.5em;
            aspect-ratio: 1/1;
        }
    }
}

/* END GENERIC STYLE */

/* SPECIFIC STYLE */

.content>section {
    padding: 1em;

    &:nth-child(even) {
        background-color: var(--main_bg_alpha);
    }

    &:nth-child(odd) {
        background-color: var(--second_bg_alpha);
    }
}

.buttonSpecial:not(.randomModeActive):not(.multiPistModeActive):hover,
ul li span:hover:not(.current) {
    background-color: var(--pre_active);
}

/* END SPECIFIC STYLE */